/* Prevent text selection for images */
img {
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
    pointer-events: none;
  }

div {
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}